#dropdownMenu {
  margin-top: 8px;
  background-color: aliceblue;
}

#name {
  font-family: 'Julius Sans One';
  font-size: 42px;
  font-weight: bolder;
  padding-left: 2rem;
}

.emph {
  font-weight: bold;
}

.row {
  padding-left: 2rem;
  padding-bottom: 1rem;
}

figure {
  margin-left: 40px;
}

figcaption {
  margin-top: -30px;
}

.bat_img {
  transform: rotate(90deg);
}

.dropdown .dropdown-menu {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown.open .dropdown-menu {
    max-height: 300px;
    opacity: 1;
}
