#name {
  text-align: center;
}

#options {
  margin-left: auto;
  margin-right: auto;
}

.snapshot {
  margin:50px;
  padding:20px;
  border: 1px solid;
}

.check {
  list-style: none;
  padding-left: 0;
}

.check li:before {
  content: "\2714\0020"; /* checkmark symbol */
}

img {
  float: right;
}
