@media only screen and (max-width : 991px)  {
  #bat_image {
    position: absolute;
    top: -200px;
    left: 65%;
  }
  #figcaption {
    position: absolute;
    top: -50px;
    left: 65%;
  }
}

@media only screen and (max-width : 525px)  {

  #chartContainer {
    margin-top: 200px;
  }
  #bat_image {
    position: absolute;
    top: -200px;
    left: 40vw;
  }
  #figcaption {
    position: absolute;
    top: -50px;
    left: 40vw;
  }
}
