<!-- <!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Getting Started with Node on Heroku</h1>
    <p>This is a sample Node application deployed to Heroku. It's a reasonably simple app - but a good foundation for understanding how to get the most out of the Heroku platform.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"><span class="glyphicon glyphicon-flash"></span> Getting Started with Node</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/node-js-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs" class="alert-link">Getting Started with Node on Heroku</a> tutorial.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
      <ul>
        <li>This app was deployed to Heroku, either using Git or by using <a href="https://github.com/heroku/node-js-getting-started">Heroku Button</a> on the repository.</li>

        <li>When Heroku received the source code, it fetched all the dependencies in the <a href="https://github.com/heroku/node-js-getting-started/blob/master/package.json">package.json</a>, creating a deployable slug.</li>
        <li>The platform then spins up a dyno, a lightweight container that provides an isolated environment in which the slug can be mounted and executed.</li>
        <li>You can scale your app, manage it, and deploy over <a href="https://addons.heroku.com/">150 add-on services</a>, from the Dashboard or CLI.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
      <ul>
        <li>If you are following the <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">Getting Started</a> guide, then please head back to the tutorial and follow the next steps!</li>
        <li>If you deployed this app by deploying the Heroku Button, then in a command line shell, run:</li>
        <ul>
          <li><code>git clone https://github.com/heroku/node-js-getting-started.git</code> - this will create a local copy of the source code for the app</li>
          <li><code>cd node-js-getting-started</code> - change directory into the local source code repository</li>
          <li><code>heroku git:remote -a &lt;your-app-name></code> - associate the Heroku app with the repository</li>
          <li>You'll now be set up to run the app locally, or <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs#push-local-changes">deploy changes</a> to Heroku</li>
        </ul>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://www.heroku.com/home">Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/">Heroku Dev Center</a></li>
        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">Getting Started with Node on Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/articles/deploying-nodejs">Deploying Node Apps on Heroku</a></li>
      </ul>
    </div>
  </div> 
   <div class="alert alert-info text-center" role="alert">
    Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
  </div>
</div>


</body>
</html>
 -->

<!DOCTYPE html>
<html>
<head>
  <title>Busy Monitor</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script>
    TThF_percentage = {7:5,8:20,9:20,10:40,11:50,12:60,13:50,14:40,15:20,16:20,17:20,18:55,19:70,20:0}
    MW_percentage = {7:5,8:20,9:20,10:40,11:50,12:90,13:60,14:40,15:20,16:20,17:20,18:55,19:70,20:0}
    Sa_percentage = {11:50,12:50,13:60,14:40,15:20,16:20,17:20,18:40,19:60,20:50,21:0}
    Su_percentage = {8:5,9:20,10:30,11:40,12:50,13:50,14:40,15:20,16:20,17:20,18:50,19:70,20:0}
    $( document ).ready(function() {
      date = new Date();
      var carm_close = document.getElementById("carm_timecloseData");
      var carm_isItClosed = document.getElementById("carm_closed");
      var carm_figcaption = document.getElementById("carm_figcaption");
      var carm_percentage_num = 0;
      var carm_percentage = document.getElementById("carm_percentageData");
      var carm_bat_image = document.getElementById("carm_bat_image");
      var day = date.getDay();
      var hour = date.getHours();
      if (day >= 1 && day <= 5) {
        carm_close.innerHTML = "8 PM";
        if(day == 1 || day == 3) {
          if(MW_percentage[hour] == undefined) {
            carm_percentage.innerHTML = "0%";
            carm_isItClosed.innerHTML = "This place is closed right now";

          }
          else {
            carm_percentage_num = MW_percentage[hour]
            carm_percentage.innerHTML = MW_percentage[hour] + "%";
          }
        }
        else {
          if(TThF_percentage[hour] == undefined) {
            carm_percentage.innerHTML = "0%";
            carm_isItClosed.innerHTML = "This place is closed right now";
          }
          else {
            carm_percentage_num = TThF_percentage[hour]
            carm_percentage.innerHTML = TThF_percentage[hour] + "%";
          }
        }
      }
      else if (day == 0) {
        carm_close.innerHTML = "9 PM";
        if(Su_percentage[hour] == undefined) {
          carm_percentage.innerHTML = "0%";
          carm_isItClosed.innerHTML = "This place is closed right now";
        }
        else {
          carm_percentage_num = Su_percentage[hour]
          carm_percentage.innerHTML = Su_percentage[hour] + "%";
        }
      }
      else {
        carm_close.innerHTML = "8 PM"
        if(Sa_percentage[hour] == undefined) {
          carm_percentage.innerHTML = "0%";
          carm_isItClosed.innerHTML = "This place is closed right now";
        }
        else{
          carm_percentage_num = Sa_percentage[hour]
          carm_percentage = Sa_percentage[hour] + "%";
        }
      }
      if(carm_percentage_num >= 0 && carm_percentage_num <= 20) {
          carm_bat_image.setAttribute("src","images/b1.png");
          carm_figcaption.innerHTML = "Not Busy";
      }
      else if(carm_percentage_num > 20 && carm_percentage_num <= 40) {
          carm_bat_image.setAttribute("src","images/b2.png");
          carm_figcaption.innerHTML = "Somewhat Busy";
      }
      else if(carm_percentage_num > 40 && carm_percentage_num <= 60) {
          carm_bat_image.setAttribute("src","images/b3.png");
          carm_figcaption.innerHTML = "Quite Busy";
      }
      else if(carm_percentage_num > 60) {
          carm_bat_image.setAttribute("src","images/b4.png");
          carm_figcaption.innerHTML = "Very Busy";
      }
    });

  </script>


  <meta charset="UTF-8" />
  <link href='https://fonts.googleapis.com/css?family=Julius%20Sans%20One' rel='stylesheet'>
  <link rel="stylesheet" href="/stylesheets/index.css" />
  <link rel="stylesheet" href="/stylesheets/base.css" />
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container text-center">
      <div id="navbar" class="navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li class="active"><a href="about">About</a></li>
          <li class="active"><a href="contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <h1 id="name">BUSY MONITOR</h1>

  <div class="row">
    <div class="col-md-6">
      <a href="dewick.html">
        <div class="snapshot clearfix">
          <div class="pull-left">
            <p class="location">Dewick</p>
            <ul class="check">
              <li>There are currently <span class="detail">xxx - xxx</span> people</li>
              <li>People typically spend <span class="detail">yyy</span> minutes</li>
              <li>Open until <span class="detail">zzz PM</span> today</li>
            </ul>
          </div>
          <figure class="pull-right">
            <img src="/images/b3.png" alt="quite busy" />
            <figcaption class="text-center">Quite Busy</figcaption>
          </figure>
        </div>
      </a>
    </div>
    <div class="col-md-6">
      <a href="carmichael.html">
        <div class="snapshot clearfix">
          <div class="pull-left">
            <p class="location">Carmichael</p>
            <ul class="check">
               <li>Carmichael is currently <span id = "carm_percentageData" class="detail"></span> busy</li>
               <li>People typically spend <span id = "carm_timespentData" class="detail">40</span> minutes</li>
               <li id = "closed">Closes at <span id = "carm_timecloseData" class="detail"></span> today</li>
            </ul>
          </div>
          <figure class="pull-right">
            <img id = "carm_bat_image" class="bat_img" alt="busy-battery" />
            <figcaption id = "carm_figcaption"></figcaption>
          </figure>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <a href="#">
        <div class="snapshot clearfix">
          <div class="pull-left">
            <p class="location">Tisch</p>
            <ul class="check">
              <li>There are currently <span class="detail">xxx - xxx</span> people</li>
              <li>People typically spend <span class="detail">yyy</span> minutes</li>
              <li>Open until <span class="detail">zzz PM</span> today</li>
            </ul>
          </div>
          <figure class="pull-right">
            <img src="/images/b4.png" alt="very busy" />
            <figcaption class="text-center">Very Busy</figcaption>
          </figure>
        </div>
      </a>
    </div>
    <div class="col-md-6">
      <a href="#">
        <div class="snapshot clearfix">
          <div class="pull-left">
            <p class="location">Eaton Lab</p>
            <ul class="check">
              <li>There are currently <span class="detail">xxx - xxx</span> people</li>
              <li>People typically spend <span class="detail">yyy</span> minutes</li>
              <li>Open until <span class="detail">zzz PM</span> today</li>
            </ul>
          </div>
          <figure class="pull-right">
            <img src="/images/b1.png" alt="not busy" />
            <figcaption class="text-center">Not Busy</figcaption>
          </figure>
        </div>
      </a>
    </div>
  </div>
</body>
